$logo: #DDD172;
$form-content: #424040;
$btn-color: rgba(66, 64, 64, 0.5);
$btn-home-color: #21201E;
$form-bottom: #666D80;
$form-bg: #E5E4C7;
$form-btn: #FFC9E6;
$form-btn-hover:rgb(255, 71, 71);
$form-btn-active:rgb(147, 216, 169);
$txt-signup: #1A1B25;
$txt-signup-hover: #4e4e4e;
$log-out: #5EE270;
$log-out-active:#a40000;
$log-out-hover: #e20e0e;
$play: #c3c8c4;
$play-active:#007FFF;
$play-hover: #c6e9f9;
$game-center-bg: #E5E4C7;
$pet-center: #d8d8d8;
$pet-center-active:#e9edcc;
$pet-center-hover: #c6e9f9;
$restart-button: red;
$restart-button-hover: rgb(243, 92, 92);
$restart-button-active: rgb(255, 192, 192);


